.answers {
  min-height: 200px;
  width: 500px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  .checkbox {
    width: 50px;
  }
}
.loader-container {
  width: 120px;
  height: auto;
  margin: 0 auto;
  img {
    width: 100%;
  }
}
