section.category {
  .random {
    &__down {
      width: 60px;
      height: 60px;
      margin: 0 auto;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: auto;
      }
    }
    &__rotate {
      width: 30%;
      margin: 0 auto;
      display: block;
      pointer-events: none;
      -webkit-user-select: none;
      user-select: none;
      -webkit-transition: 4s transform cubic-bezier(0.33, 1, 0.68, 1);
      -moz-transition: 4s transform cubic-bezier(0.33, 1, 0.68, 1);
      -o-transition: 4s transform cubic-bezier(0.33, 1, 0.68, 1);
      transition: 4s transform cubic-bezier(0.33, 1, 0.68, 1);
      #circle {
        display: inline;
        vertical-align: middle;
        width: 100%;
        height: auto;
        pointer-events: none;
        -webkit-user-select: none;
        user-select: none;
      }
    }
    &__winner {
      h4 {
        margin-top: 30px;
        font-weight: 900;
        font-size: 40px;
        text-align: center;
      }
    }
  }
}

lottie-player {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}




@media screen and (max-width: 1200px) {
  section.category {
    .random {
      &__down {
        margin: 40px auto;
        img {
        }
      }
      &__rotate {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  section.category {
    display: flex;
    align-items: center;
    justify-content: center;
    .random {
      &__down {
        img {
        }
      }
      &__rotate {
        width: 65%;
      }
    }
  }
}