$blue: #53b0fc;
$pink: #e8d7fe;
$orange: #fba51e;
$green: #d1e149;
$purple: #9f7cfb;
$green: #5ce0d5;

a {
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.blog {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* container */
.leaderboard-container {
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: hidden;
  .leaderboard {
    // background-color: rgba($color: $purple, $alpha: 1);
    padding: 30px 45px;
    background: rgba(255, 255, 255, 0.342);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    .head {
      color: #101010;
      font-size: 28px;
      text-align: center;
      // border-bottom: 2px solid rgba($color: #101010, $alpha: 0.2);
      letter-spacing: 1px;
      margin: 10px 0;
      margin-bottom: 45px;
    }
    .body {
      overflow-y: scroll;
      max-height: 225px;
      padding-right: 10px;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.header {
        color: #2c2c2c;
      }
      & + li {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 2px solid rgba($color: #101010, $alpha: 0.3);
      }
    }
  }
}

/* leaderboard */
