$blue: #53b0fc;
$pink: #e8d7fe;
$orange: #fba51e;
$green: #d1e149;
$purple: #9f7cfb;
$green: #5ce0d5;

.leaderboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  .leaderboard {
    padding: 30px 45px;
    background: rgba(255, 255, 255, 0.342);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    .head {
      color: #101010;
      font-size: 28px;
      text-align: center;
      letter-spacing: 1px;
      margin: 10px 0;
      margin-bottom: 45px;
    }
    .body {
      overflow-y: scroll;
      max-height: 225px;
      padding-right: 10px;
      scroll-snap-type: y proximity;
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px $purple;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba($color: $orange, $alpha: 0.5);
        border-radius: 15px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: rgba($color: $blue, $alpha: 0.3);
      }
    }
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span.score{
        font-size: 12px;
        color: rgba($color: #101010, $alpha: 0.6);
      }
      &.header {
        color: #2c2c2c;
      }
      & + li {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 2px solid rgba($color: #101010, $alpha: 0.3);
      }
    }
  }
  .your-score {
    background: rgba(255, 255, 255, 0.342);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.192);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    margin-top: 50px;
    border: 2px solid $orange;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .your-name {
      .your-id {
        color: white;
        font-weight: 500;
        margin-left: 8px;
        font-size: 12px;
        color: rgba($color: #101010, $alpha: 0.6);
      }
    }
    .your-last-score {
      margin-left: auto;
    }
  }
}


@media screen and (max-width: 1200px) {
  .leaderboard-container {
    .leaderboard {
      padding: 20px;
    }
  }
}

@media screen and (max-width: 414px) {
  .leaderboard-container {
    .leaderboard {
      width: 90%;
      padding: 20px;
    }
    .your-score {
      width: 90%;
      padding: 20px;
    }
  }
}