$blue: #279cfb;
$pink: #e8d7fe;
$orange: #fba51e;
$green: #d1e149;
$purple: #9f7cfb;
$green: #5ce0d5;

$tooltipcolor: $purple;
* {
  margin: 0;
  padding: 0;
}

.navbar {
  h2 {
    text-align: center;
    margin: 20px;
  }
}
.buttons {
  max-width: 90%;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-button {
    text-decoration: none;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 1px;
    width: calc(100% / 3);
    text-align: center;
    position: relative;
    background-color: rgba($color: $pink, $alpha: 0.7);
    border-radius: 10px;
    color: $purple;
    padding: 15px 25px;
    &.disabled {
      cursor: wait;
    }
    & + .buttons-button {
      margin-left: 20px;
    }
    &:hover {
      .tooltiptext {
        display: block;
      }
    }
    .tooltiptext {
      background-color: $tooltipcolor;
      width: 500px;
      padding: 1rem;
      border-radius: 0 0 10px 10px;
      position: absolute;
      display: none;
      left: 50%;
      top: calc(100% + 30px);
      transform: translateX(-50%);
      p {
        font-size: 15px;
        font-weight: initial;
        line-height: 1.6;
        color: #fff;
      }
      &:before {
        content: '';
        position: absolute;
        top: -25px;
        height: 25px;
        width: 50px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $tooltipcolor;
        -webkit-clip-path: polygon(49% 0, 0% 100%, 100% 100%);
        clip-path: polygon(49% 0, 0% 100%, 100% 100%);
      }
    }
    span {
    }
  }
}
