$blue: #53b0fc;
$pink: #e8d7fe;
$orange: #fba51e;
$green: #d1e149;
$purple: #9f7cfb;
$green: #5ce0d5;

.question-card {
  width: 500px;
  padding: 50px 20px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba($color: $orange, $alpha: 0.3);
  position: relative;
  animation: fadeUpIn 300ms ease-in-out;
  & > * + * {
    margin-top: 20px;
  }
  p {
    font-size: 20px;
    min-height: 150px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  &-answers {
    ul {
      list-style-type: none;
      li {
        & + li {
          margin-top: 10px;
        }
        align-self: stretch;
        display: block;
        button {
          background-color: $purple;
          border-radius: 8px;
          box-shadow: transparent;
          border: 2px solid rgba($color: $green, $alpha: 0.4);
          padding: 12px 8px;
          color: #fff;
          text-align: left;
          width: 100%;
          display: block;
          font-size: 16px;
        }
      }
    }
  }
  .timer {
    position: absolute;
    top: 0;
    right: 30px;
    font-weight: 900;
    font-size: 18px;
  }
}

@keyframes fadeUpIn {
  0% {
    transform: translate(0, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}
