$blue: #53b0fc;
$pink: #e8d7fe;
$orange: #fba51e;
$green: #d1e149;
$purple: #9f7cfb;
$green: #5ce0d5;

.question-card {
  width: 500px;
  padding: 50px 20px;
  margin: 0 auto;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.342);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
  animation: fadeUpIn 300ms ease-in-out;
  & > * + * {
    margin-top: 20px;
  }
  p {
    font-size: 20px;
    min-height: 128px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  &-answers {
    ul {
      list-style-type: none;
      li {
        & + li {
          margin-top: 10px;
        }
        align-self: stretch;
        display: block;
        button {
          background-color: rgba($color: $purple, $alpha: 0.8);
          border-radius: 8px;
          border: 0px;
          border-bottom: 3px solid $purple;
          box-shadow: transparent;
          padding: 12px 8px;
          padding-left: 20px;
          color: #fff;
          text-align: left;
          width: 100%;
          display: block;
          font-size: 18px;
        }
      }
    }
  }
  .timer {
    position: absolute;
    top: 0;
    right: 30px;
    font-weight: 900;
    font-size: 18px;
  }
}

@keyframes fadeUpIn {
  0% {
    transform: translate(0, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .question-card {
    width: 60%;
    padding: 30px 20px;
  }
}

@media screen and (max-width: 414px) {
  .question-card {
    width: 90%;
    padding: 20px 20px;
  }
}
