:root{
  --firstcolor: #ac6bd3;
  --secondcolor: #ff4aa9;
  --thirdcolor: #3f6cf5;
  --fourthcolor: #ffcc00;
  --fifthcolor: #4ed26c;
  --sixthcolor: #fe6255;
}

*{
  box-sizing: border-box;
}
*::before, *::after{
  box-sizing: inherit
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255, 74, 169);
  background: linear-gradient(
    to top left,
    rgba(255, 74, 167, 0.6) 0%,
    rgba(63, 108, 245, 0.6) 80%,
    rgba(254, 98, 85, 0.6) 100%
  );
}

.main{
  position: relative;
}
.music-button{	
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7px;
  font-weight: bold;
  border: 1px solid rgba(0, 174, 255, 0.788);
  padding: 8px;
  position: absolute;
  content: '';
  top: 50px;
  right: 50px;
}
.music-button img{
  display: block;
  width: 20px;
  height: 20px;
}
.music-button:hover {
  background-color: rgba(0, 174, 255, 0.377);
  color: rgb(85, 96, 255);
  transition: 0.3s all ease;
}

@media screen and (min-width: 374px) and (max-width: 530px){
  .music-button{
    top:20px;
    right: 20px;
  }
}

@media screen and (min-width: 531px) and (max-width: 768px) {
  .music-button{
    top: 20px;
    right: 25px;
  }
}

.loader-img{
  display: block;
  margin: 0 auto;
}